{% extends 'base.html' %}
{% load static %}

{% block title %} {{ block.super }} | começo {% endblock title %}
{% block container %}
          

    <ul class="produtos">
      {% for product in products %}
        <li style="margin-top: 50px;">
          <h2>{{ product.name }}</h2>
          <h3 style="color: grey;"><strong>categoria:</strong></h3>
          <h3>"{{ product.category }}"</h3>
          <a href="#"><img id="capa" src="{% static 'img/error.png' %}"></a>
          <a class="produto-descricao" href="#">{{ product.description }}</a>
          <p class="preco-produto">R${{ product.price }}</p>
        </li>
      {% endfor %}
    </ul>

  </div>

<hr>
<h1>tabela com nossos produtos! </h1>
<hr>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">produto</th>
        <th scope="col">data de modificação</th>
        <th scope="col">preço</th>
      </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr>
        <td><a href="{{ product.get_absolute_url }}" style="color:#000;">{{product.name}}</a></td>
        <td>criado em: "{{product.modified}}"</td>
        <td>R${{product.price}}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
{% endblock %}