{% extends 'base.html' %}

{% load static %}
{% block title %}
    {{ current_category }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <h1>{{current_category}}</h1>
</div>
<div class="row">
    {% for product in product_list %}
    <div class="col-sm-6 col-md-4" style="background-color:var(--bs-gray-100); border:solid var(--bs-gray-100); border-radius: 5px;">
    <div class="thumbnail">
            <a href="{{ produto.get_absolute_url }}">
                <img src="{% static 'img/placeholder.png' %}" alt="" />
            </a>
            <div class="caption">
                <h3>{{ product }}</h3>
                <p><a href="{{ produto.get_absolute_url }}" class="btn btn-success" role="button">Detalhes</a> <a href="#" class="btn btn-default" style="background-color:var(--bs-gray-300)" role="button">Adicionar ao Carrinho</a>R${{product.price}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
